/*----fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
header{
    background-color: aqua;
    width: 100%;
    height: 50px;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	margin: 2px 15px;
    
}
nav ul li a{
	color: maroon;
	text-decoration: none;
	font-size: 20px;
}




main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
/*-----------------------------------------------
          top-players style
-------------------------------------*/
.container{
    background-color: #FFFFFF;
    width: 900px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid color #F3F1FF;
    margin-bottom: 27px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 70px;
    height: 70px;
    margin-top: 25px;
    padding-bottom: 20px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/*-----------------------------
   top-bogs-style           
---------------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    font-size: 16px;
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin-top: -15px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/*------------------------------------
        Letest Course
        ---------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    box-shadow: #562EFF;
}
.course-title{
    font-size: 20px;
}
.course .course-banner img{
    width: 250px;
    height: 107px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #EAEAEA;
}
.course-duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 10px;
    margin-right: 25px;
}
footer{
    background-color: aqua;
    text-align: center;
    height: 50px;
}
.foot{
    padding-top: 18px;
    font-size: 20px;
    color: brown;
}
/*--------------------------------
    Media Queries
---------------------------------*/

@media only screen and (max-width:688px){
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        width: 100%;
        background-color: #FF4A60;
    }
    .player, .blog{
        flex-direction: column;
    }
}
@media only screen and (min-width:688px) and (max-width:992px){
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .container{
        width: 100%;
    }
    .player, .blog{
        flex-direction: column;
    }
    body, header{
        background-color: #FF4A60;
    }
}